# ------- Flutter & Dart ------
.dart_tool/
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# ----- IDEs ------
.idea/
*.iml

# ----- macOS -----
.DS_Store

# Other
*.lock
*.log

# ------ VSCode ------
.vscode/